- content_for :page_title do
  = I18n.t('admin.accounts.location.local')

.compact-header
  %h1<
    = link_to site_title, root_path
    %br

- if @statuses.empty?
  .accounts-grid
    = render partial: 'accounts/nothing_here'
- else
  .activity-stream.h-feed
    = render partial: 'stream_entries/status', collection: @statuses, as: :status

- if @statuses.size == 20
  .pagination
    = link_to safe_join([t('pagination.next'), fa_icon('chevron-right')], ' '), timeline_url(max_id: @statuses.last.id), class: 'next', rel: 'next'
